html,
body {
    margin  : 0;
    padding : 0;
}

body {
    background  : #b8a2ce;
    font-family : Courier;
    color       : #5a5475;
    font-size   : 24px;
}

a {
    color: #5a5475;
}

/* .layout */
.layout {
    width   : 800px;
    margin  : auto;
    padding : 50px 0;
}
.layout__part + .layout__part {
    margin-top: 70px;
}

/* .header */
.header {
    width : 100%;
}
.header__logo {
    display : block;
    width   : 800px;
    height  : 389px;
}

/* .content */
.content {}
.content__block + .content__block {
    margin-top: 20px;
}

/* .footer */
.footer {}
.footer__text {
    text-align : center;
    margin     : 0;
}

/* .explanation */
.explanation {
    text-align: center;
}
.explanation__origin {
    font-size  : .85em;
    font-style : italic;
}

/* .install */
.installation {
    color      : #fff;
    background : #a792bd;
    padding    : 15px 0;
    margin     : 0 auto;
    width      : 445px;
    text-align : center;
}

/* .screenshot */
.screenshot {}
.screenshot__image {
    display : block;
    width   : 800px;
    height  : 493px;
}
